<div class="optionContainer">
	<nav>
	<div id="optionBar" class="bg-primary">
		<div class="col-md-8 searchBar">
  			<div class="input-group">
    		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchField.title">
    		<span class="input-group-btn">	
      			<button class="btn btn-default searchButton" type="button" ng-click="getMovies(searchField.title)">Search!</button>
    		</span>
  			</div>
		</div>
		<span  id="logoutBtn"><a href="#/logout">Log Out</a></span>
	</div>
	</nav>

	<!-- Log out bar -->
</div>

<!-- Main logo header -->
<div id="mainHeader" class="container head-container">
	<div class="row">
		<div class="page-header pageHeader">
	  	<h1>Movie History Project </h1>
		</div>	
	</div>
</div>

<div class="col-lg-8 searchBar">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." ng-model="searchField.title">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="getMovies(searchField.title)">Go!</button>
    </span>
  </div>
</div>

<!-- div for containing results after search -->
<div id="movieImage">
	<img src={{movieImages.image}}>
</div>












