
<!-- Log out bar -->
<div class="optionContainer">
	<div id="optionBar" class="bg-primary">
		<span  id="logoutBtn"><a href="#/login" ng-click="logout()">Log Out</a></span>
	</div>
</div>

<!-- Main logo header -->
<div id="mainHeader" class="container head-container">
	<div class="row">
		<div class="page-header pageHeader">
	  	<h1>Movie History Project </h1>
		</div>	
	</div>
</div>

<!-- NAV BAR with options for FIND NEW MOVIES AND SEARCH YOUR MOVIES -->
<div role="navigation">
	<ol class="breadcrumb">
	  <li><a href="#/find">Find New Movies</a></li>
	  <li><a href="#/search">Search Your Movies</a></li>
	</ol>
</div>

<div class="banner">
	<h1>Welcome to the Movies</h1>
</div>
