
<!-- Log out bar -->
<div class="optionContainer">
	<div id="optionBar" class="bg-primary">
		<div class="col-md-8 searchBar">
  			<div class="input-group">
    		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchField.title">
    		<span class="input-group-btn">	
      			<button class="btn btn-default" type="button" ng-click="getMovies(searchField.title)">Search!</button>
    		</span>
  			</div>
		</div>
		<span  id="logoutBtn"><a href="#/logout">Log Out</a></span>
	</div>
</div>

<!-- Main logo header -->
<div id="mainHeader" class="container head-container">
	<div class="row">
		<div class="page-header pageHeader">
	  	<h1>Movie History Project </h1>
		</div>	
	</div>
</div>

<!-- NAV BAR with options for FIND NEW MOVIES AND SEARCH YOUR MOVIES -->
<div role="navigation">
	<ol class="breadcrumb">
	  <li><a href="#/find">Find New Movies</a></li>
	  <li><a href="#/search">Search Your Movies</a></li>
	</ol>
</div>



<div class="banner">
	<h1>Welcome to the Movies</h1>
</div>
<div>
	<span class="filterbar" ng-click="">Not Tracked</span>
	<span class="filterbar" ng-click="">Not Watched</span>	
	<span class="filterbar" ng-click="">Watched</span>
	<span class="filterbar" ng-click="">Favorites</span>
</div>

<div id="movieImage">
	<img src={{movieImages.image}}>
</div>
